
.common-button-login {
  /* ButtonFrame */

  //position: absolute;
  width: 205px;
  height: 60px;
  //left: 198px;
  //top: 329px;

  background: #232D64;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;

}