#admin-main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
  padding: 20px;

  .page-header {
    
    .admin-noti-page-wrapper {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      
      .noti-title {
        font-size: 31px;
        font-weight: 1000;
        color: #232D64;
        margin: 0 0 20px;
      }

      .noti-description {
        color: #888;
        font-size: 12px;
        margin: 20px 0 0 10px;
      }
    }
  }


}