// 전체 공통 스타일. 컴포넌트별 스타일이 없는 경우 이곳의 스타일이 적용됩니다.
@use 'bulma/bulma';
@import '../../node_modules/bulma/sass/index';
// 여기서 반드시 bulma/sass 파일을 적용해 주어야 글로벌 scss에 스타일이 적용됩니다!
:root {
  --background: #ffffff;
  --foreground: #171717;
  --my-body-color: #232D64;
}


  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  //color: var(--foreground);
  color: var(--my-body-color) !important;
  background: var(--background);
  font-family: work sans sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
