//$white: #fff;
//@use "bulma/sass/form" with (
//  $primary: $white,
//);

.modal-overlay.faq-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1020;
}

.modal-window.faq-modal {
  position: absolute;
  width: 563px;
  height: 559px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.modal-dialog.faq-modal {
  width: 510px;
  //height: 394px;
}

.modal-title.faq-modal {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
}

.modal-subtitle.faq-modal {
  font-size: 14px;
  text-align: center;
  color: #888;
  margin-bottom: 24px;
}

.form-section {
  margin-bottom: 20px;

  label.faq-field-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    color: #232d64;
    height: 54px;

    select {
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 6px 10px;
      background-color: #fff;
      margin-left: 12px;
      color: #232d64;
    }
  }

  .input {
    @extend .input;
    width: 100%;
    border: 1px solid #c2c2f3;
    background-color: #fff;
    color: #232d64;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    margin-top: 8px;

    &::placeholder {
      color: #232d64;
      opacity: 0.4;
    }
  }

  .textarea {
    @extend .textarea;
    width: 100%;
    background-color: #fff;
    color: black;
    border: 1px solid #c2c2f3;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    resize: none;
    margin-top: 8px;

    &::placeholder {
      color: #232d64;
      opacity: 0.4;
    }
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 12px;
}