// 컴포넌트용 bulma css 사용 예시 코드입니다.
$primary: #232D64;
@use "./../../../node_modules/bulma/sass/utilities/functions" as *;



.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1020;
}

.modal-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  isolation: isolate;

  position: absolute;
  width: 465px;
  height: 229px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;

  &.tall-modal {
    width: 640px;
    height: 341px;
  }
}

.modal-dialog {
  //width: 100%;
  &.tall-modal {
    width: 576px;
  }

}


.modal-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 16px;
  text-align: center;

  &.tall-modal-title {
    font-size: 24px;
    color: navy;
    text-align: left;
  }
}

.modal-description {
  font-size: 18px;
  color: #888;
  margin-bottom: 32px;
  text-align: center;

  &.tall-modal-description {
    color: darkgray;
    font-size: 16px;
    text-align: left;
  }
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

// bulma modal-close에 적용되어 있는 스타일을 덮어써서 디자인 오류를 방지하는 용도입니다.
.modal-close::before,
.modal-close::after {
  display: none !important;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

///* Inside auto layout */
//flex: none;
//order: 2;
//flex-grow: 0;

