@use "../../../../../../node_modules/bulma/sass/utilities/index" as *;
@use "../../../../../../node_modules/bulma/sass/elements/button";
@use "../../../../../../node_modules/bulma/sass/form/index";

.master-manage-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;

  .admin-manage-page-wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
  }

  .master-manage-title {
    font-size: 31px;
    font-weight: 1000;
    color: #232D64;
    margin: 0 0 20px;
  }

  .master-manage-description {
    color: #888;
    font-size: 12px;
    margin: 20px 0 0 10px;
  }

  .admin-manage-input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 20px;
  }

  .admin-manage-input {
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .master-admin-table {
    width: 90%;
    margin-top: 20px;
    border-collapse: collapse;

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
      color: #232D64;
    }

    td {
      color: #555;
    }
  }
}